@font-face {
  font-family: 'barbieri-black';
  src: local('Barbieri Black'),
       url('Barbieri-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.roboto-condensed-machina {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

p{
    font-family: "Roboto Condensed";
    font-size: 18px;
}

body{
    background-color: steelblue;
}

h1{
    font-family: barbieri-black;
    text-align: center;
    font-size:300%;
    color: darkorchid;
}

body {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

.mainThingy{
    background-color:antiquewhite;
    padding: 5%;
    max-width: 60%;
    min-width: 60%;
}

button{
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
    background-color: limegreen;
    border-radius: 10px;
    font-family: barbieri-black;
    font-size: 22px;
    color:white;
    border: hidden;   
}

button:hover{
    background-color: lime;
}

textarea {
    font-family: sans-serif;
    resize:vertical;
}

label{
    font-family: "Roboto Condensed";
}